<component name="ArtifactManager">
  <artifact type="war" name="spring-integration:war">
    <output-path>$PROJECT_DIR$/spring-integration/target</output-path>
    <root id="archive" name="spring-integration-3.0.war">
      <element id="artifact" artifact-name="spring-integration:war exploded" />
    </root>
  </artifact>
</component>