<component name="ArtifactManager">
  <artifact type="war" name="spring-security:war">
    <output-path>$PROJECT_DIR$/spring-security/target</output-path>
    <root id="archive" name="spring-security-3.0.war">
      <element id="artifact" artifact-name="spring-security:war exploded" />
    </root>
  </artifact>
</component>